header {
  padding: 2rem 1rem;
  .header__logo {
    border-bottom: none;
  }

  nav{
    float: right;
    padding-top: 10px;
  }

  nav a {
    margin: 0 2rem 0 0;
  }

  .header__logo {
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 1rem 0;

    nav {
      text-align: center;
    }
  }
}
