.hero {
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
  text-align: center;

  &__tagline {
    margin-bottom: 2rem;
  }
}
.content {
  text-align: center;
}

section {
  display: inline-block;
  padding: 3rem;
  max-width: 1200px;
  background: #352926;
  text-align: left;
}

// and 1 on mobile
@media only screen and (max-width: 1000px) {
  .hero {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .section {
    padding: 2rem;
  }
}
