@charset "utf-8";

@import "normalize";

*, *:before, *:after {
  box-sizing: border-box;
}

$background: #1c1c1c;
$foreground: #ccc;
$link-color: #ccc;
$text-color: #ccc;

@import "base";
@import "layout";
@import "header";
@import "index";
@import "book";
@import "themes";
@import "search";
