{% extends "index.html" %}

{% block extra_nav_class %}{% endblock extra_nav_class %}
{% block extra_content_class %}content--reversed{% endblock extra_content_class %}

{% block content %}
{% set section = get_section(path="book/_index.md") %}
<div class="book">
    <aside class="book__sidebar">
        <div class="search-container">
            <input id="search" type="search" placeholder="Search the book">
            <div class="search-results">
                <div class="search-results__items"></div>
            </div>
        </div>
        <ul>
            {% for p in section.subsections %}
            {% set subsection = get_section(path=p) %}
            <li>
                <span class="book__sidebar__title">{{ subsection.title }}</span>
                <ul>
                    {% for page in subsection.pages %}
                    <li class="{% if current_path == page.path %}active{% endif %}">
                        <a href="{{page.permalink}}">{{page.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            {% for page in section.pages %}
                <li class="{% if current_path == page.path %}active{% endif %}">
                    <a href="{{page.permalink}}">{{page.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
    <div class="book__content">
        {% block book_content %}
        {% endblock book_content %}
    </div>
</div>
{% endblock content %}