<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <meta name="author" content="{{ config.extra.author }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="site.css") }}" />
    <link rel="icon" href="{{ get_url(path="favicon.ico") }}">
</head>

<body>
    <header>
        <div class="container">
            <a class="header__logo white" href="{{ config.base_url }}"><img alt="Salvo" src="{{ get_url(path="logo.svg") }}" width="120" /></a>
            <nav class="{% block extra_nav_class %}container{% endblock extra_nav_class %}"><a class="white" href="{{ get_url(path="@/book/quick-start/_index.md") }}" class="nav-link">Book</a>
                <a class="white" href="https://docs.rs/salvo" target="_blank" class="nav-link">Docs</a>
                <a class="white" href="https://github.com/kenorld/salvo" target="_blank" class="nav-link">GitHub</a>
            </nav>
        </div>
    </header>

    <div class="content {% block extra_content_class %}{% endblock extra_content_class %}">
            {% block content %}
            <section>
            {{ section.content | safe }}
        </section>
            {% endblock content %}
    </div>
    <footer>
        ©2019-2020 — <a class="white" href="http://www.chrislearn.im">Chrislearn Young</a> and <a class="white"
            href="https://github.com/kenorld/salvo/graphs/contributors">contributors</a>
    </footer>

    <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    <script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
</body>

</html>